{% extends 'base.html.twig' %}

{% block title %}Hello IdeaController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="text-center">Dernières idées</h1>

    <div class="container_fluid mx-auto text-center">
        <a href="{{ path('order_by_rating') }}" class="btn btn-info">De la + populaire à la - populaire</a>
        <a href="{{ path('order_by_date') }}" class="btn btn-info">De la + récente à la - récente</a>
    </div>

    

    {% for idea in ideas %}

        <article class="container_fluid mx-auto w-50 container_idea">
            <h3>{{idea.title}}</h3>
                <div class="rating float-left"><i class="fas fa-award"></i> {{ idea.rating }}</div>
                <div class="font-italic">postée le {{idea.date | date('d/m/Y')}} à {{idea.date | date('H:i')}} </div>
            
            <div class="container_fluid mx-auto w-100">
                {{ idea.text }}
            </div>
                    
            <div class="mt-2">
                <a href="{{ path('upvote', {'id':idea.id}) }}" class="btn btn-success"><i class="fas fa-thumbs-up"></i>  Excellente idée!</a>
                <a href="{{ path('downvote', {'id':idea.id}) }}" class="btn btn-danger"><i class="fas fa-thumbs-down"></i>  Bof!</a>
            </div>

        </article>
    {% endfor %}

    
</div>
{% endblock %}
